/* your styles go here */

/* POLICES */

@font-face {
  font-family: "JosefinSans";
  src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "JosefinSans-Light";
  font-weight: lighter;
  src: url(../fonts/JosefinSans-Light.ttf);
}

@font-face {
  font-family: "JosefinSans-SemiBold";
  src: url(../fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
  font-family: "JosefinSans-Bold";
  font-weight: bold;
  src: url(../fonts/JosefinSans-Bold.ttf);
}

body {
  font-family: JosefinSans;
}

h2, h3 {
  font-family: JosefinSans-Bold;
}

/* HEADER */

/* Menu de navigation */

.nav-div {
  margin-left: 0;
}

.nav-link {
  font-family: JosefinSans-Light;
}

.sign-links {
  position: relative;
  left: 20%;
}

.signin-link-home, .signOut_link-home {
  font-size: 18px;
  color: white;
}

.signin-link-front, .signOut_link-front {
  font-size: 18px;
  color: black;
}

.signin-link-back, .signOut_link-back {
  font-size: 18px;
  color: black;
}

/* MENU DE NAVIGATION */

/* PAGE D'ACCUEIL */

/* Slider */

#mainNav .navbar-nav > li.nav-item > a:hover {
  color: #0085A1;
}

#mainNav .navbar-nav > li.nav-item > a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#mainNav .navbar-nav > li.nav-item > a:hover:after {
  width: 100%;
  background: #0085A1;
}

.owl-prev {
  position: relative;
  left: -595px;
  bottom: 350px;
  font-size: 64px;
  color: #185EDF;

}

.owl-next {
  position: relative;
  left: 595px;
  bottom: 350px;
  font-size: 64px;
  color: #185EDF;
}

.owl-dots {
  position: relative;
  bottom: 110px;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* SECTION 1 : ACCUEIL */

.home1-text {
  position: relative;
  top: 145px;;
}

.welcome {
  width: 65%;
}

.hero {
  min-height: 100vh;
}


/*SECTION 2 : PRESENTATION */

.about_div {
  max-width: 90%;
}

.about-logo {
  position: relative;
  top: 20%;
}

.about-subtitle {
  padding-left: 100px; 
  margin-left: 25%;
}

.about-title {
  text-align: left;
  padding-left: 25px;
}

.about-title img {
  padding-right: 25px;
  padding-left: 45px;
}

.boat-info {
  display: flex;
  margin-bottom: 15px;
  margin-left: 15%;
}

.boat-info img {
  width: 64px;
  height: 64px;
}

.promotion-div {
  display: flex;
}

.promotion-div img {
  margin-top: auto;
  margin-bottom: auto;
}

.promo-p-div {
  margin-top: auto;
  margin-bottom: auto;
}

.promotion-p {
  margin-top: auto;
  margin-bottom: auto;
}

.sized_img {
  height: 50px;
  margin: auto;
}

.short-p {
  margin-top: auto;
  margin-bottom: auto;
}

.sensibilisation, .technologie {
  margin-bottom: 0;
}

.special-div {
  margin-bottom: 0px
}

.ecology {
  margin-left: 25%;
}

.technologie {
  margin-top: 15px;
}

.about-subtitle {
  margin-bottom: 0;
}

.science-boat, .ecology-boat {
  padding-left: 0px;
  padding-right: 0px;
}

.school-boat {
  margin-top: 7%;
}

.school-boat-text {
  margin-top: 2%;
}

/* SECTION 3 : LE NAVIRE */

.owl-carousel.owl-loaded.owl-drag {
  display: flex;
  flex-direction: column;
  margin-bottom: -115px;
}

.owl-lazy {
  height: 600px;
}

.boat-general-description {
  flex-direction: column;
  margin-top: 2%;
}

.owl-nav, .owl-dots {
  margin: auto;
}

/* SECTION PAGINATION */
.onepage-pagination span {
  position: relative;
  left: -150px;
  bottom: 1px;
  color: cadetblue;
  float: right;
}

.onepage-pagination {
  color: cadetblue;
  width: 170px;
}

.pagination-nav {
  position: fixed;
  left: 97%;
  top : 50%;
  z-index: 50;
}

.onepage-pagination a:hover #accueil {
  display: block;
}


.onepage-pagination a.active {
  display: block;
}

/* SECTION CONTACT */

.contact-logo-div {
  display: flex;
}

.contact-logo {
  width: 13%;
  height: 70%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.person_infos p {
  margin-bottom: 0;
}

.person_infos {
  padding-left: 300px;
}

.person_pic {
  width: 33%;
  margin-bottom: 100px;
}

.pic {
  margin-bottom: 20px;
}

.team-row2 {
  justify-content: space-around;
}

/* FIN PAGE D'ACCUEIL*/

/* PAGE EMBARQUEMENT */

#mainNav.onboard-nav .navbar-brand {
  color: #212529;
}
#mainNav.onboard-nav .navbar-brand:focus, #mainNav.onboard-nav .navbar-brand:hover {
  color: #0085A1;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a {
  color: #212529;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a:focus, #mainNav.onboard-nav .navbar-nav > li.nav-item > a:hover {
  color: #0085A1;
}

#mainNav.onboard-nav .navbar-nav > li.nav {
  color: black;
}

.eco-volunteer {
  margin-top: 235px;
}

.eco-vol-text {
  margin-top: 5%;
}

.eco-vol-text header {
  margin-bottom: 2%;
}

.eco-vol {
  display: flex;
  flex-direction: column;
}

.gifts-desc {
  margin-top: 5%;
}

.what-cost {
  margin-bottom: 5%;
}

.gifts-infos {
  margin-left: auto;
  margin-top: 1%;
  font-size: 14px;
}

.onboard-carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.pdf-download {
  display: flex;
  flex-direction: column;
  margin-top: 5%
}

.pdf {
  margin-left: auto;
  margin-right: auto;
}

.boat-program {
  margin-top: 5%;
}

table.table-program {
  width: 100%;
}

table, td, th {
  border: 1px solid black;
}

.end-tr {
  display: table-column-group;
}

.banets {
  width: 16%;
}

/* MAP */

.onboard-events-map {
  margin-top: 5%;
}

/* FIN PAGE EMBARQUEMENT */

/* PAGE SCIENCES */

.infos-sciences {
  margin-top: 250px;
}

.intro-sciences-text {
  margin-top: 5%;
}

.sc-prog-title {
  margin-top: 6%;
}

.prog-list {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.sc-prog2-title {
  margin-top: 3%;
}

.prog-pdf-section {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.prog-section {
  display: flex;
  flex-direction: column;
}

.sc-prog2-title {
  margin-left: auto;
  margin-right: auto;
}

.sc-pdf-text {
  width: 100%;
  margin-top: 5%;
}

.prog-pdf-div {
  margin-left: auto;
  margin-right: auto;
}

.invite-text {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.sc-prog-img {
  width: 230px;
}

/* PAGE CONTACT */

.eco-marin-title {
  margin-bottom: 60px;
}

#contactForm {
  margin-bottom: 15%;
}

.conteneur {
  position: relative;
  top: 235px;
  padding-bottom: 185px;
}

.contact-btn-div {
  display: flex;
}

#sendMessageButton {
  margin-left: auto;
  margin-right: auto;
}

/* FIN PAGE CONTACT */

/* PAGE D'ADMINISTRATION */

.admin_interface, .news-creation, .login-div {
  margin-top: 15%;
  margin-bottom: 5%;
}

.mgmt {
  margin-bottom: 5%;
}

.program-div {
  margin-top: 5%;
}

/* FIN PAGE D'ADMINISTRATION */

/* PAGE DES EVENTS DE LA MAP */

.welcome-map {
  margin-top: 12%;
}

.events-map {
  margin-top: 12%;
}

.events table {
  width: 100%;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}

.buttons-map {
  display: flex;
  justify-content: space-around;
}

/* PAGE NOUS SOUTENIR */

#haWidget {
  margin-top: 25%;
}

.helloForm {
  margin-top: 0;
}

.donation {
  position: relative;
  margin-top: 30%;
  display: flex;
}

.donation p {
  margin-left: auto;
  margin-right: auto;
}

/* PAGE DE GESTION DU PROGRAMME DU BATEAU */

.welcome-program {
  margin-top: 20%;
}

/* FOOTER */

.page-footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5%;
  margin-bottom: -10%;
}

.footer-container {
  margin-top: 190px;
}

/* MODALS */

.modal {
  position: fixed;
  top: 50%;
  left: 43%;
  background: aliceblue;
  width: 250px;
  height: 200px;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.modal_edit_content {
  flex-direction: column;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
}

#modal_text, #modal_text_edit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#edit_buttons {
  text-align: center;
}

.close {
  margin-left: auto;
}

/* LIEN DE RETOUR VERS LE HAUT DE PAGE */

#header_link {
  position: fixed;
  top: 95%;
  right: 5%;
  z-index: 100;
}

/* MENTIONS LEGALES */

.mentions-view {
  margin-top: 15%;
}

/* VUE ERREURS */

.error-message {
  margin-top: 250px;
  text-align: center;
}

/* RESPONSIVE */

/* MENU DE NAVIGATION */

.home-navbar, .nav-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.support-link {
  width: 100%;
}

#mainNav {
  position: absolute;
  background-color: transparent;
}
  
 #mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
 }
  
#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  /*color: #677dbd;*/
}
  
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .login {
    position: relative;
    left: 15%;
  }

@media screen and (min-width: 1600px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  #mainNav .navbar-nav .signin-link .signOut-link, a {
    font-size: 12px;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 20%;
  }

  .nav-item .nav-link .support-link {
    width: 239px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 20px;
    color: #fff;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 17%;
  }

  .logout {
    left: 0%;
    top: 30px;
  }

  .login {
    left: 4%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .navbar-expand-lg .navbar-collapse {
    margin-left: 15%;
  }

  .login {
    left: 6%;
  }

}

@media screen and (min-width: 1400px) {
  .home-navbar, .nav-div {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .sign-links {
    position: relative;
    left: 1%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .sign-links {
    position: relative;
    left: 5%;
  }
}

@media screen and (min-width: 1441px) {
  .sign-links {
    position: relative;
    left: 5%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

  #mainNav {
    border-bottom: none;
    background: transparent;
  }

  .admin-link {
    left: 5%; 
  }

  .logout {
    left: -9.5%;
    top: 30px;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 18%;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
    font-size: 18px;
  }

  .logo .navbar-brand {
    position: relative;
    right: 10%;
  }

  .login {
    left: 2%;
  }  
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #mainNav {
    background: transparent;
    border-bottom: none;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
    font-size: 18px;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
    font-size: 15px;
  }

  .logo-nacomed {
    position: relative;
    right: 12%;
    width: 145px;
  }

  #navbarResponsive {
    margin-left: 18%;
  }

  .login {
    left: 0%;
  }

  .login-div {
    margin-top: 20%;
  }
}

@media screen and (min-width: 320px) and (max-width: 340px) {
  .first-p {
    font-size: 14px;
  }
}

@media screen and (min-width: 375px) and (max-width: 992px) {
  .login-div {
    margin-top: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .hero {
    min-height: 43vh;
  }

  #home1 {
    padding-bottom: 0px;
  }

  #captain-speech {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .hero {
    min-height: 56vw;
  }

  #captain-speech {
    padding-bottom: 0;
  }
}



/* MAX-WIDTH : 992PX */
@media screen and (max-width: 992px) {

  /* PAGE D'ACCUEIL */
  /* MENU DE NAVIGATION */

  .navbar-collapse, .collapse, .show {
    background-color: white;
    max-width: 45%;
    border-radius: 60px;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 15px;
  }

  #mainNav.onboard-nav .navbar-nav > li.nav-item > a {
    color: #677dbd;
  }

  #mainNav .navbar-nav > li.nav-item > a:hover:after {
    width: 30%;
    background: #0085A1;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: auto;
    margin-right: auto;
  }

  .sign-links {
    left: 0%;
  }

  .signin-link-home, .signOut_link-home {
    font-size: 18px;
    color: #677dbd;
  }
  
  .signin-link-front, .signOut_link-front {
    font-size: 18px;
    color: #677dbd;
  }
  
  .signin-link-back, .signOut_link-back {
    font-size: 18px;
    color: #677dbd;
  }

  .navbar-nav {
    text-align: center;
  }

  .login {
    left: 0;
  }

  .navbar-collapse {
    text-align: center;
    position: relative;
    bottom: 10%;
  }

  .logo {
    position: relative;
    margin-right: auto;
  }
  
  .menu_btn {
    position: relative;
    margin-left: auto;
  }

  #home_menu_btn {
    border: 1px solid white;
    color: white;
  }

  #home_front_menu_btn {
    color: #677dbd;
  }

  .login {
    left: 0%;
  }

  .admin-link, .logout {
    left: 0;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 15px;
  }

  /* SECTION 2 */
  .logo-div {
    display: none;
  }

  .sized_img {
    margin: 0;
  }

  .science-boat, .ecology-boat {
    margin-bottom: 70px;
  }

  .ecology-boat {
    margin-top: 70px;
  }

  .boat-plan {
    width: 100%;
  }

  .details-text {
    margin-left: 0;
  }

  /* SECTION 3 */
  /* CAROUSSEL */
  .owl-lazy {
    height: 300px;
  } 

  .owl-prev {
    left: -290px;
    bottom: 250px;
  }

  .owl-next {
    left: 290px;
    bottom: 250px;
  }

  /* SECTION 4 : détails techniques navire */
  .boat-plan-div {
    display: flex;
  }
  
  .boat-plan {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .details-text {
    margin-left: 0;
  }

  /* SECTION 5 : contact */
  .contact-logo-div {
    display: flex;
  }
  
  .contact-logo {
    width: 20%;
    height: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .person_infos {
    padding-left: 0px;
  }

  .person_pic {
    padding-right: 0px;
  }

   /* PAGE : NOUS SOUTENIR */
   .donation {
    margin-top: 40%;
  }

  /* TABLEAU DE BORD ADMIN */
  .admin_interface {
      margin-top: 55%;
    }

  /* PAGE DE GESTION DE LA MAP */
  .welcome-map, .events-map {
    margin-top: 55%;
  }

  /* PAGE DE GESTION DU PROGRAMME */
  .welcome-program {
    margin-top: 55%;
  }

  /* PAGE CONTACT */
  #sendMessageButton {
    margin-left: auto;
    margin-right: auto;
  }

  /* MODAL */
  .modal {
    left: 7%;
  }
}
/* FIN MAX-WIDTH: 992PX */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-nacomed {
    width: 80px;
  }

  .navbar-collapse, .collapse, .show {
    background-color: white;
    max-width: 45%;
    border-radius: 30px;
  }

  #home_menu_btn {
    border: 1px solid white;
    color: white;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: auto;
    margin-right: auto;
  }

  #home_front_menu_btn {
    color: #677dbd;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo-nacomed {
    width: 135px;
  }

  .navbar-collapse, .collapse, .show {
    background-color: white;
    max-width: 45%;
    border-radius: 60px;
  }

  #home_menu_btn {
    border: 1px solid white;
    color: white;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: auto;
    margin-right: auto;
  }

  #home_front_menu_btn {
    color: #677dbd;
  }
}

/* PAGE : EMBARQUEMENT */

@media screen and (min-width: 320px) and (max-width: 375px) {
  .eco-volunteer {
    margin-top: 280px;
  }

  .logo, .navbar-brand {
    margin-right: 0px;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 10px;
  }

  .navbar-collapse, .collapse, .show {
    max-width: 40%;
  }

}

@media screen and (min-width: 376px) and (max-width: 992px) {
  .eco-volunteer {
    margin-top: 250px;
  }
}

/* PAGE : SCIENCES */

@media screen and (min-width: 320px) and (max-width: 425px) {
  .infos-sciences {
    margin-top: 290px;
  }
}

/*BOUTON HELLOASSO */

@media screen and (min-width: 320px) and (max-width : 425px) {
  #haWidget {
    margin-top: 310px;
  }

  .boat-info {
    margin-left: 0%;
  }
}

@media screen and (min-width: 425px) and (max-width : 767px) {
  #haWidget {
    margin-top: 290px;
  }

  .boat-info {
    margin-left: 0%;
  }

}

@media screen and (min-width: 768px) and (max-width : 1023px) {
  #haWidget {
    margin-top: 280px;
  }

  .boat-info {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1024px) {
  #haWidget {
    margin-top: 20%;
  }
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -100px;
    height: 100px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  #mainNav.is-fixed .navbar-nav > li.nav {
    color: black;
  }

  .first-p {
    font-size: 28px;
  }
}

/* PAGE ACCUEIL */

@media screen and (min-height: 768px) {
  .hero {
    min-height: 55vw;
  }
}

@media screen and (min-height: 1024px) and (max-height: 1400px) {
  .hero {
    min-height: 575px;
  }
}

@media screen and (min-width: 320px) {
  .welcome {
    position: relative;
    bottom: 15px;
  }

  .login-div-text, .mgmt h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .login-div, .admin_interface {
    margin-top: 50%;
  }
}

@media screen and (min-width: 375px) {
  .welcome {
    position: relative;
    bottom: 35px;
  }
}

@media screen and (min-width: 425px) {
  .welcome {
    position: relative;
    bottom: 0px;
  }

  .login-div-text h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .welcome {
    position: relative;
    bottom: 0px;
  }

  #captain-speech {
    padding-bottom: 0;
  }

  .login-div, .admin_interface {
    margin-top: 30%;
  }

  .login-div-text, .mgmt h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .login-div-text, .admin_interface h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero {
    min-height: 55vw;
  }

  .captain-speech {
    top: 125px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .welcome {
    position: relative;
    top: 66px;
  }

  .admin_interface {
    margin-top: 25%;
  }

  #home1 {
    min-height: 57vw;
  }

  .logo-nacomed {
    width: 145px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1799px) {
  .hero {
    min-height: 100vh;
  }
  
  .admin_interface {
    margin-top: 25%;
  }

  .login-div {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1919px) {
  .hero {
    min-height: 57vw;
  }
}

@media screen and (min-width: 1920px){
  .hero {
    min-height: 100vh;
  }
}

@media screen and (min-width: 2560px) {
  .welcome {
    width: 100%;
  }

  .first-p {
    font-size: 50px;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 45px;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 18%;
  }

  body {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .nav_infos {
    bottom: 60px;
  }
}

/* SECTION 3 : SLIDER */

@media screen and (max-width: 1400px) {
  .owl-prev {
    left: -410px;
  }

  .owl-next {
    left: 410px;
  }
}

@media screen and (max-width: 768px) {
  .owl-prev {
    left: -200px;
  }

  .owl-next {
    left: 200px;
  }
}

@media screen and (max-width: 480px) {
  .owl-prev {
    left: -130px;
  }

  .owl-next {
    left: 130px;
  }
}

@media screen and (max-width: 340px) {
  .owl-prev {
    left: -90px;
  }

  .owl-next {
    left: 90px;
  }
}

@media (max-width: 480px) {
  .contact-logo {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .person_pic {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
  }

  .contact-logo {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  #haWidget {
    margin-top: 230px;
  }
}
/* TABLEAU DE BORD ADMIN */

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .login-div {
    margin-top: 15%;
  }
}

/* ESPACE ADMIN */

@media screen and (min-width: 320px) and (max-width: 424px) {
  .map_mgmt {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .admin_interface {
    margin-top: 18%;
  }
}