/* your styles go here */

/* HEADER */

/* Menu de navigation */

.nav-div {
  margin-left: 0;
}

/* MENU DE NAVIGATION */

/* PAGE D'ACCUEIL */

/* Slider */

.owl-prev {
  position: relative;
  left: -595px;
  bottom: 350px;
  font-size: 64px;
  color: #185EDF;

}

.owl-next {
  position: relative;
  left: 595px;
  bottom: 350px;
  font-size: 64px;
  color: #185EDF;
}

.owl-dots {
  position: relative;
  bottom: 110px;
}

/*.owl-carousel .owl-wrapper {
  display: flex !important;
}*/

.owl-carousel .owl-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Section 1 : Accueil */

.welcome {
  margin-bottom: 55px;
  background: rgba(17, 65, 86, 0.5);
  opacity: 0.9;
  border-radius: 80px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(17, 65, 86, 0.5);
  border-radius: 25px;
  opacity: 0.9;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
}

.fa-angle-double-right {
   padding-right: 5px;
}

.link-down {
  color: white;
  z-index: 2;
  position: relative;
  top: 55%;
  right: 29%;
}

.position-relative {
  top: 4%;
}

/*Section 2 Présentation */

.about-logo {
  position: relative;
  top: 20%;
}

.about-subtitle {
  padding-left: 100px; 
  margin-left: 25%;
}

.about-title {
  text-align: left;
  padding-left: 25px;
}

.fa-angle-right {
  padding-right: 10px;
}

.about-title img {
  padding-right: 25px;
  padding-left: 45px;
}

.boat-info {
  display: flex;
  margin-bottom: 15px;
  margin-left: 10%;
}

.boat-info p {
  margin-bottom: 0px;
}

.sized_img {
  height: 50px;
  margin: auto;
}

.short-p {
  margin-top: 15px;
}

.sensibilisation, .technologie {
  margin-bottom: 0;
}

.special-div {
  margin-bottom: 0px
}

.ecology {
  margin-left: 25%;
}

.technologie {
  margin-top: 15px;
}

.about-subtitle {
  margin-bottom: 0;
}

.science-boat, .ecology-boat {
  padding-left: 0px;
  padding-right: 0px;
}

.school-boat {
  margin-top: 3%;
}

.school-boat-text {
  margin-top: 2%;
}

/* Section 3 : Le navire */

.owl-carousel.owl-loaded.owl-drag {
  display: flex;
  flex-direction: column;
  margin-bottom: -115px;
}

.owl-lazy {
  height: 600px;
}

.boat-general-description {
  flex-direction: column;
  margin-top: 2%;
}

.owl-nav, .owl-dots {
  margin: auto;
}

/* Section 4 : détails techniques */

.boat-details {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.boat-plan-div {
  display: flex;
}

.boat-plan-div a {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.details-text-div {
  margin-top: 50px;
}

.details-text {
  margin-left: auto;
  margin-right: auto;
}

/*Section pagination */
.onepage-pagination span {
  position: relative;
  left: -150px;
  bottom: 1px;
  color: cadetblue;
  float: right;
}

.onepage-pagination {
  color: cadetblue;
  width: 170px;
}

.pagination-nav {
  position: fixed;
  left: 97%;
  top : 50%;
  z-index: 50;
}

.onepage-pagination a:hover #accueil {
  display: block;
}


.onepage-pagination a.active {
  display: block;
}

/* Section contact */

.contact-logo-div {
  display: flex;
}

.contact-logo {
  width: 13%;
  height: 70%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.person_infos p {
  margin-bottom: 0;
}

.person_infos {
  padding-left: 300px;
}

.person_pic {
  width: 33%;
  margin-bottom: 100px;
}

.pic {
  width: 121px;
}

.team-row2 {
  justify-content: space-around;
}

/* FIN PAGE D'ACCUEIL*/

/* PAGE ACTUALITES */

.welcome-news, .welcome-map, .events-map {
  margin-top: 10%;
  margin-bottom: 5%;
}

.image-news img {
  width: 100%;
}

/* PAGE EMBARQUEMENT */

#mainNav.onboard-nav .navbar-brand {
  color: #212529;
}
#mainNav.onboard-nav .navbar-brand:focus, #mainNav.onboard-nav .navbar-brand:hover {
  color: #0085A1;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a {
  color: #212529;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a:focus, #mainNav.onboard-nav .navbar-nav > li.nav-item > a:hover {
  color: #0085A1;
}

#mainNav.onboard-nav .navbar-nav > li.nav {
  color: black;
}

.eco-volunteer {
  margin-top: 235px;
}

.eco-vol-text {
  margin-top: 5%;
}

.eco-vol-text header {
  margin-bottom: 2%;
}

.eco-vol {
  display: flex;
  flex-direction: column;
}

.gifts-desc {
  margin-top: 5%;
}

.what-cost {
  margin-bottom: 5%;
}

.gifts-infos {
  margin-left: auto;
  margin-top: 1%;
  font-size: 14px;
}

.onboard-carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.pdf-download {
  display: flex;
  flex-direction: column;
  margin-top: 5%
}

.pdf {
  margin-left: auto;
  margin-right: auto;
}

.boat-program {
  margin-top: 5%;
}

table.table-program {
  width: 100%;
}

table, td, th {
  border: 1px solid black;
}

.end-tr {
  display: table-column-group;
}

.banets {
  width: 16%;
}

/* Map */

.onboard-events-map {
  margin-top: 5%;
}

/* FIN PAGE EMBARQUEMENT */

/* PAGE CONTACT */

.eco-marin-title {
  margin-bottom: 60px;
}

.conteneur {
  position: relative;
  top: 235px;
  padding-bottom: 185px;
}

#sendMessageButton {
  position: relative;
  left: 89%;
}

/* FIN PAGE CONTACT */

/* PAGE TAVERNE */

.conteneur-tavern {
  margin-bottom: 27%;
}

/* PAGE D'ADMINISTRATION */

.admin_interface, .news-creation, .login-div {
  margin-top: 10%;
  margin-bottom: 5%;
}

.mgmt {
  margin-bottom: 5%;
}

.program-div {
  margin-top: 5%;
}

/* FIN PAGE D'ADMINISTRATION */

/* PAGE DE CREATION DE NEWS */

.article_form {
  width : 100%
}

/* FIN PAGE DE CREATION DE NEWS */

/* PAGE DE TOUTES LES NEWS */

.post-list {
  padding-bottom: 3%;
  border-bottom: 1px solid gray;
  padding-top: 5%;
}

.post-item {
  margin-bottom: 5%;
}

/* PAGE DE NEWS (UNE NEWS) */

/* Bouton partage FB */

/*.fb-share-button, .fb_iframe_widget {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1rem;
  padding-left: 2.2rem;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rum Raisin', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #363636;
  
}*/

.fb-share-button, .fb_iframe_widget {
  position: fixed;
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  top:47.5vh;
  bottom: 1rem;
  left: 0.6rem;

  background-image: url(../img/facebook.svg);
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
}

.fb-xfbml-parse-ignore {
  position: fixed;
  top: 50vh;
}

.news-display {
  display: flex;
  flex-direction: column;
}

.news-view {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.news-img {
  display: flex;
  margin-bottom: 10%
}

.news-img img {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.news-heading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}

#add_com {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#com_form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#com_form label {
  display: block;
  width: 150px;
  float: left;
}

.sub-btn {
  display: flex;
}

#com_submit_btn {
  margin-left: auto;
}

#comments-area {
  background-color: cornflowerblue;
  margin-top: 5%;
}

.com_heading {
  text-align: center;
  margin-top: 5%;
}

.comment_content {
  background-color: aliceblue;
  padding: 25px;
  border-radius: 25px;
  margin-left: 2%;
  margin-right: 2%;
}

.video {
  margin-left: auto;
  margin-right: auto;
}

/* PAGE D'EDITION DES NEWS */

.post-preview {
  display: flex;
  flex-direction: column;
}

.post {
  height: 300px;
  overflow: hidden;
}

.edit-btn-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 5%
}

/* PAGE DES EVENTS DE LA MAP */

.events table {
  width: 100%;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}

.buttons-map {
  display: flex;
  justify-content: space-around;
}

/* PAGE DES COMMENTAIRES SIGNALES */

.reported_comments {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20%;
}

.rep-coms-list {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.reported-com {
  display: flex;
  flex-direction: column;
}

.del_btn {
  margin-left: auto;
  margin-right: auto;
}

.modal_del_content {
  display: flex;
  flex-direction: column;
}

.comment_censored {
  text-decoration: line-through;
}

/* PAGE NOUS SOUTENIR */

#haWidget {
  margin-top: 13%;
}

.helloForm {
  margin-top: 0;
}

.donation {
  position: relative;
  margin-top: 30%;
  display: flex;
}

.donation p {
  margin-left: auto;
  margin-right: auto;
}

/* PAGE DE GESTION DU PROGRAMME DU BATEAU */

.welcome-program {
  margin-top: 20%;
}

/* FOOTER */

.page-footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5%;
  margin-bottom: -10%;
}

.footer-container {
  margin-top: 190px;
}

/* MODALS */

.modal {
  position: fixed;
  top: 50%;
  left: 43%;
  background: aliceblue;
  width: 250px;
  height: 200px;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.modal_edit_content {
  flex-direction: column;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
}

#modal_text, #modal_text_edit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#edit_buttons {
  text-align: center;
}

.close {
  margin-left: auto;
}

/* Lien de retour vers le header */

#header_link {
  position: fixed;
  top: 95%;
  right: 5%;
  z-index: 100;
}

/* Vue des erreurs */

.error-message {
  margin-top: 250px;
  text-align: center;
}

/* Responsive */

/* Menu de navigation*/

.home-navbar, .nav-div {
  margin-left: auto;
  margin-right: auto;
}

.support-link {
  width: 145px;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
  }
  
  #mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #677dbd;
  bottom: 80px;
  }
  
  #mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  }
  
  .login {
    position: relative;
    left: 30%;
  }

  .admin-link, .logout {
    position: relative;
    left: 15%;
  }

@media screen and (max-height: 630px) {
  .position-relative{
    top: 130px;
  }
}

@media screen and (min-height: 630px) and (max-height: 860px) {
  .position-relative{
    top: 130px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  #mainNav .navbar-toggler {
    bottom: 55px;
  }
}

@media screen and (min-width: 640px) and (max-width: 992px) {
  #mainNav .navbar-toggler {
    bottom: 55px;
  }
}

@media screen and (min-width: 1600px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #677dbd;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 28%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 27%;
  }

  .logout {
    left: 0%;
    top: 30px;
  }

  .login {
    left: 20%;
  }
}

@media screen and (min-width: 1400px) {
  .home-navbar, .nav-div {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  .admin-link {
    left: 5%; 
  }

  .logout {
    left: -9.5%;
    top: 30px;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 22%;
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  .login {
    left: 12%;
  }
  
}

@media screen and (max-width: 1200px) {
  .logo-nacomed {
    width: 65%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
    position: relative;
    left: -6%;
  }

  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .admin-link {
    left: 0%;
  }

  .logout {
    left: -14.5%;
    top: 30px;
  }

  .login {
    left: 2%;
  }

  .navbar-expand-lg .navbar-collapse {
    margin-left: 15%;
  }
}

/*BOUTON HELLOASSO */

@media screen and (max-height: 630px) {
  #haWidget {
    margin-top: 19%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #haWidget {
    margin-top: 18%;
  }
}

@media screen and (min-width: 340px) and (max-width: 992px) {
  #haWidget {
    margin-top: 40%;
  }
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -100px;
    height: 100px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  #mainNav.is-fixed .navbar-nav > li.nav {
    color: black;
  }
}

@media screen and (max-width: 992px) {
  .support-link {
    width: 100%;
  }

  .login {
    left: 0%;
  }

  .admin-link, .logout {
    left: 0;
  }
}

/* PAGE ACCUEIL */
/* Section 1 : accueil */

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
    position: relative;
    bottom: 10%;
  }

  .hero {
    margin-top: 15%;
  }
  
  /*.nav_infos {
    left: 4%;
    max-width: 75%;
  }*/

  .logo {
    position: relative;
    margin-right: auto;
  }
  
  .menu_btn {
    position: relative;
    margin-left: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  .nav_infos {
    bottom: 60px;
  }

  .welcome {
    position: relative;
    bottom: 85px;
  }
}

/* Section 2 */

@media (max-width: 992px) {
  .logo-div {
    display: none;
  }

  .sized_img {
    margin: 0;
  }

  .science-boat, .ecology-boat {
    margin-bottom: 50px;
  }

  .boat-plan {
    width: 100%;
  }

  .details-text {
    margin-left: 0;
  }
}

/* Section 3 : slider */

@media screen and (max-width: 1400px) {
  .owl-prev {
    left: -410px;
  }

  .owl-next {
    left: 410px;
  }
}

@media screen and (max-width: 992px) {
  .owl-lazy {
    height: 300px;
  }

  .owl-prev {
    left: -290px;
    bottom: 250px;
  }

  .owl-next {
    left: 290px;
    bottom: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .eco-volunteer {
    margin-top: 220px;
  }
}

@media screen and (max-width: 768px) {
  .owl-prev {
    left: -200px;
  }

  .owl-next {
    left: 200px;
  }
}

@media screen and (max-width: 480px) {
  .owl-prev {
    left: -130px;
  }

  .owl-next {
    left: 130px;
  }
}

@media screen and (max-width: 340px) {
  .owl-prev {
    left: -90px;
  }

  .owl-next {
    left: 90px;
  }
}

/* Section 4 : détails techniques navire */

@media screen and (max-width: 992px) {
  .boat-plan-div {
    display: flex;
  }
  
  .boat-plan {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .details-text {
    margin-left: 0;
  }
}


/* Section 5 : contact */

@media (max-width: 992px) {
  .contact-logo-div {
    display: flex;
  }
  
  .contact-logo {
    width: 20%;
    height: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .person_infos {
    padding-left: 0px;
  }

  .person_pic {
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .contact-logo {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .person_pic {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
  }

  .contact-logo {
    width: 30%;
  }
}

/* PAGE ACTUALITES */

@media screen and (max-width: 992px) {
  .welcome-news {
    margin-top: 55%;
  }

  .post-div {
    flex-direction: column-reverse;
  }

  .img-div {
    display: flex;
  }

  .image-news {
    margin-left: auto;
    margin-right: auto;
  }
}

/* PAGE NOUS SOUTENIR */

@media screen and (max-width: 992px) {
  .donation {
    margin-top: 40%;
  }

  #haWidget {
    margin-top: 230px;
  }
}

@media screen and (min-width: 1200px) {
  #haWidget {
    margin-top: 230px;
  }
}

/* PAGE D'UNE NEWS */

@media screen and (max-width: 992px) {
  .news-display {
    margin-top: 50%;
  }
}

/* PAGE DE LOGIN */

@media screen and (max-width: 992px) {
  .login-div {
    margin-top: 35%;
  }
}

/* TABLEAU DE BORD ADMIN */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .login-div {
    margin-top: 20%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .login-div {
    margin-top: 15%;
  }
}

@media screen and (max-width: 992px) {
  .admin_interface {
    margin-top: 55%;
  }
}

/* PAGDE DE CREATION DE NEWS */

@media screen and (max-width: 992px) {
  .news-creation {
    margin-top: 55%;
  }
}

/* PAGE DE GESTION DE LA MAP */

@media screen and (max-width: 992px) {
  .welcome-map, .events-map {
    margin-top: 55%;
  }
}

/* PAGE DES COMMENTAIRES SIGNALES */

@media screen and (max-width: 992px) {
  .reported_comments {
    margin-top: 55%;
  }
}

/* PAGE DE GESTION DU PROGRAMME */

@media screen and (max-width: 992px) {
  .welcome-program {
    margin-top: 55%;
  }
}

/* PAGE CONTACT */

@media screen and (max-width: 992px) {
  #sendMessageButton {
    left: 35%;
    bottom: 30px;
  }
}

/* MODAL */

@media screen and (max-width: 992px) {
  .modal {
    left: 7%;
  }
}

/* Mentions légales */

.mentions-view {
  margin-top: 15%;
}